/* Font (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px; 
    
}
.Container{
    width: 1700px; 
}

.all-h1{
    color:#3A3A3A ;
    font-size: 45px;
    margin-bottom: 0px;
}
.all-h3{
    color:#3A3A3A ;
    font-size: 20px
}
.all-p{
    color:#3A3A3A;
    margin-bottom: 25px;
    text-align: justify;
}

/*---------
   header navber part 
------------*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    
}
nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1.8em;
    margin-right: 15px;
    
}
nav a:hover{
    color: #E02C6D;
}


/*----------
   main part 
------------*/



/* section 1 */
.Journey{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.half-width{
   margin: 80px;
    padding: 20px;
}
.half-width img{
    margin-left: 180px;
    transition: width 3s, 3s, transform 3s;
}
.half-width img:hover{
    
    transform: rotate(360deg);
}

.link-border{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
}
.link-border i{
    color: white;
}

.link-border:hover{
    color: #3A3A3A;
}


/* ist row */
hr{
    border: 1px solid #AAAAAA;
    margin-bottom: 27px;
}

/* some site logo */
.all-logo {
    display: flex;
    justify-content: center;
  
}
.all-logo img{
   align-items: center;
    text-align: center;
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}



/* main section */
h3{
    text-align: center;
    color: #3A3A3A;
    margin: 40px;
    font-size: 35px;
}

.Popular-Collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    justify-items: center;
}
.Collection-pic img{
    width: 500px;
    height: 256;
}
h4{
    color:#3A3A3A ;
    font-size: 20px;
    margin-bottom: 5px;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: orange;
}
.fa-star.empty{
    color: #AEAEAE;
}

.Popular{
    background-color:white;
    box-shadow: 8px 8px 8px 3px #AEAEAE;
    margin: 21px;
    padding: 20px;
    border-radius: 10px;
}


/* see more */
.see-moree{
    text-decoration: none;
    color: #E02C6D;   
    margin-top: 30px; 
    font-size: 30px;
}
.see-moree:hover{
    color: #AEAEAE;
}


/* Extra Works */
h4{
    font-size: 40px;
}

.extra-work{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;

}
.ex-icon{
    display: flex;
    align-items: center;
}

.head{
    font-size: 40px;
    margin-top: 10px;
}
.extra{
    color: #3A3A3A;
    margin: 20px;
    margin-bottom: 20px;
}





.join-naw a{
    text-decoration: none;
    color: white ;
    background-color: #E02C6D;
    padding: 10px 30px;
    border-radius: 15px;
}
.join-naw i{
    margin-left: 8px;
}
.join-naw a:hover{
    color: #E02C6D;
    background-color: white;
    border: 2px solid #E02C6D;
}






/*---------
   footer
-----------*/

.footer{
    background-color: #130f40;
    color: #FFFFFF;
    padding: 80px;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: #FFFFFF;
    
}
.footer-icon a{
    margin-top: 15px;
    margin-left: 35px;
    font-size: 30px;
}
.footer-icon a:hover{
    color: #E02C6D;
}
.Influencer{
    font-size: 30px;
}



/* ---------------
   Media Queries 
-----------------*/

/* Mobile devices */

@media only screen and (max-width:688px){
    .Container{
        width: 70%;
    }
    .Journey, .Popular-Collection{
        background-color: blue;
        grid-template-columns: repeat(1, 1fr);
    }
    /* .all-logo{
        background-color: blue;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    } */
    .Journey {
        flex-direction: column;
    }

    .Popular-Collection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     
}








