/* Font (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.all-h1{
    color:#3A3A3A ;
    font-size: 40px;
    margin-bottom: 0px;
}
.all-h3{
    color:#3A3A3A ;
    font-size: 20px
}
.all-p{
    color:#3A3A3A;
    margin-bottom: 25px;
    text-align: justify;
}

/* header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}
nav a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1.3em;
    margin-right: 15px;
}
nav a:hover{
    color: #E02C6D;
}



/* section 1 */
.Journey{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 50px;
}

.link-border{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
}
.link-border:hover{
    color: #3A3A3A;
}
